.default-color0.chart-symbol {
    -fx-background-radius: 0px;
}
.default-color1.chart-symbol {
    -fx-background-radius: 0px;
}
.default-color2.chart-symbol {
    -fx-background-radius: 0px;
}
.default-color3.chart-symbol {
    -fx-background-radius: 0px;
}
.default-color4.chart-symbol {
    -fx-background-radius: 0px;
}
.default-color5.chart-symbol {
    -fx-background-radius: 0px;
}
.default-color6.chart-symbol {
    -fx-background-radius: 0px;
}
.default-color7.chart-symbol {
    -fx-background-radius: 0px;
}
.default-color8.chart-symbol {
    -fx-background-radius: 0px;
}