.root{
    -fx-background-color: #323232;
}

.menu-bar, .menu-bar .label,.context-menu, .menu-button{
    -fx-background-color: #545454;
    -fx-text-fill: #bdbdbd;
}

.menu-bar,.context-menu{
    -fx-padding: 0;
}

.menu:focused, .menu-item:hover, .menu-item:hover .label, .menu-item:focused, .menu-item:focused .label{
    -fx-background-color: #383838;
}