.root{
    -fx-background-color: #323232;
}

.menu-bar, .menu-bar .label,.menu:hover, .menu .label, .menu-item, .menu-item:hover, .menu-item .label, .context-menu, .menu-button{
    -fx-background-color: #545454;
    -fx-text-fill: #bdbdbd;
}

.menu-bar,.context-menu{
    -fx-padding: 0;
}

.menu-item:hover, .menu-item:hover .label {
    -fx-background-color: #383838;
}

.context-menu{
    -fx-border-width: 1;
    -fx-border-color: #848484;
}

.menu-bar{
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-insets: -1;
}