.root{
    -fx-background-color: #2a2a2a;
}

#yes{
    -fx-background-color: linear-gradient(#00BE1D, #007f2a);
    -fx-text-fill: white;
    }

#no{
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-text-fill: white;
}

#labeltext{
    -fx-text-fill: #bdbdbd;
    -fx-font-size: 14px;
}

#dontagain{
    -fx-text-fill: #bdbdbd;

}