//defining Close Window theme Color variable
* {
   -fx-mainWindowBackgroundColor: #2a2a2a;
   -fx-yesColor: #19c433;
   -fx-noColor: #ff5232;
   -fx-TextColor: #bdbdbd;
   -fx-WhiteColor: white;
}

//for future reference, UI/UX deveoper should update color values to these(above) variables only

.root{
    -fx-background-color: -fx-mainWindowBackgroundColor;        //CSS variable concept used here.
}

#yes{
    -fx-background-color: -fx-yesColor;
    -fx-text-fill: -fx-WhiteColor;
    }

#no{
    -fx-background-color: -fx-noColor;
    -fx-text-fill: -fx-WhiteColor;
}

#labeltext{
    -fx-text-fill: -fx-TextColor;
    -fx-font-size: 14px;
}

#dontagain{
    -fx-text-fill: -fx-TextColor;
}