* {
   -fx-mainWindowBackgroundColor: #323232;
   -fx-menubarBackgroundColor: #545454;
   -fx-menuTextColor: #bdbdbd;
   -fx-menubarHoverColor: #383838;
   -fx-WhiteColor: white;
}


.root{
    -fx-background-color: -fx-mainWindowBackgroundColor;
}
