//This is one of main CSS Themes to be used/ updated by UI/UX developer
//All CSS related changes should be strictly done here.


* {
   -fx-mainWindowBackgroundColor: #323232;
   -fx-menubarBackgroundColor: #545454;
   -fx-menuTextColor: #bdbdbd;
   -fx-menubarHoverColor: #383838;
   -fx-WhiteColor: white;
}


.root{
    -fx-background-color: -fx-mainWindowBackgroundColor;
}
